@import "../../../styles/mixins.scss";

.productContainer {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.backButton {
  align-self: flex-start;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #0056b3;
  }
}

.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  .imageContainer {
    margin-bottom: 20px;
    img {
      max-width: 100%;
      max-height: 300px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .productInfo {
    max-width: 100%;

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }

    p {
      font-size: 1.2rem;
      margin: 5px 0;
    }

    .editButton {
      padding: 10px 20px;
      margin-top: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}

.commentsSection {
  width: 100%;
  max-width: 800px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .commentsList {
    list-style: none;
    padding: 0;

    .comment {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .commentItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
        width: 100%;

        @include respond-to("small") {
          flex-direction: row;
        }

        .buttons {
          display: flex;
          gap: 6px;
          flex-direction: column;
          width: 100%;

          .editButton {
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
    
            &:hover {
              background-color: #0056b3;
            }
          }
    
          .deleteButton {
            padding: 5px 10px;
            background-color: #e74c3c;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
    
            &:hover {
              background-color: #c0392b;
            }
          }
        }
      }

      .editComment {
        display: flex;
        flex-direction: column;
        width: 100%;
    
        .commentTextarea {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 1rem;
        }

        .saveButton {
          margin-block: 10px;
          padding: 5px 10px;
          background-color: #28a745;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #218838;
          }
        }
  
        .cancelButton {
          padding: 5px 10px;
          background-color: #e74c3c;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #c0392b;
          }
        }
      }
    }
  }

  .addComment {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;

    .commentTextarea {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
    }

    .submitButton {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #28a745;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #218838;
      }
    }
  }
}
